*.*
!.gitignore
!.gitmodules
!buildout.cfg
!optom.iml
!circle.yml
!codecov.yml
!setup.cfg
!optom/resources/*.yaml
!site/*
!*.txt
!*.py
!*.md
!*.png
!build-sumo-osx.sh
!.pre-commit-config.yaml
!*.coveragerc
